<section class="section-padding about-us">
  <div class="conatainer">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-6">
        <div class="about-right-side full-height mb-md-80">
          <div class="about-img full-height">
            <img
              src="../../../assets/images/aboutus.jpg"
              class="img-fluid image-fit"
            />
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-6">
        <diV class="about-left-side">
          <div class="section-header">
            <div class="section-haeding">
              <h3 class="text-custom-black">About Us</h3>
              <div class="section-description">
                <p class="text-light-black subheading">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Quaerat minus consectetur nihil accusamus doloribus repellat
                  eaque doloremque vel magnam maxime obcaecati ea, sint
                  dignissimos reiciendis tempora, quisquam suscipit saepe
                  blanditiis.
                </p>
              </div>
            </div>
          </div>
          <p class="text-light-dark">
            On the other hand, we denounce with righteous indignation the foult
            anuals dislike men who are so beguiled and demoralized by the
            nuhaiicharms of pleasure of the moment, so blinded by desire, that
            they cannot foresee the pain and trouble that are bound toen sue;
            and equal blame belongs to those who fail in their duty.
          </p>
          <ul class="custom">
            <li class="text-light-dark">
              <mat-icon>arrow_right</mat-icon>
              <span> Personalized Service</span>
            </li>
          </ul>
        </diV>
      </div>
    </div>
  </div>
</section>
