.section-padding {
    padding: 80px 0;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.align-items-center {
    align-items: center!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.full-height {
    height: 100%;
}
.about-us .about-right-side .about-img:before {
    top: auto;
    bottom: 0;
}
.about-us .about-right-side .about-img:before {
    top: 0;
    z-index: 0;
    right: 0;
    left: auto;
}
.about-us .about-right-side .about-img:after {
    bottom: 0;
    z-index: -1;
    right: auto;
    left: 0;
    
}
.image-fit {
    width: 30%;
    height: 30%;
    object-fit: cover;
    object-position: center;
    margin-left: 500px;
}
.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.col-lg-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}
.section-header {
    padding-bottom: 30px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.section-header .section-heading {
    max-width: 540px;
    margin: 0 auto 0 0;
}
.section-header .section-description {
    margin-bottom: 20px;
    position: relative;
}
.text-custom-black {
    color: #000;
}

h3 {
    display: block;
    font-size: 2.5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.section-description .subheading {
    font-size: 22px;
    font-family: Poppins,sans-serif;
}
.text-light-black {
    color: #2d3e52;
}
p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 20px;
    font-family: Roboto,sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text-light-dark {
    color: #838383;
}

.about-us .about-left-side ul {
    column-count: 2;
    margin-bottom: 15px;
}
ul.custom, ul.custom-flex {
    list-style: none;
    padding: 0;
}
.text-custom-blue {
    color: #01b7f2;
}
.fa, .fas {
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900;
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    overflow: hidden;
    color:  #00a3c8;
}
.section-heading h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #01b7f2;
    margin-top: 20px;
}
 .section-heading h3:before {
    content: "\f072";
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900;
    color: #01b7f2;
    font-size: 16px;
    position: absolute;
    bottom: -8.5px;
}