<section class="section-padding why-choose-testimonials">
  <div class="overlay overlay-bg-black"></div>
  <div class="container">
    <div class="section-header">
      <div class="section-haeding">
        <h3 class="text-custom-white">Our Team</h3>
        <div class="section-description">
          <p class="text-custom-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
            inventore ea itaque architecto placeat amet, obcaecati molestias
            recusandae quis quae nobis maxime necessitatibus, est corrupti fuga
            culpa assumenda molestiae blanditiis.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-card class="card-back">
          <ng-image-slider
            [images]="images"
            #nav
            [infinite]="true"
            [autoSlide]="1"
            [imageSize]="{ width: '30%', height: 200, space: 4 }"
            slideImage="1"
            [animationSpeed]="0.5"
            [title]="images"
          ></ng-image-slider>
        </mat-card>
      </div>
    </div>
  </div>
</section>
