<footer class="section-padding footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-box mb-md-40">
          <h4 class="text-custom-white fw-600">About Us</h4>
          <p class="text-custom-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae
            deserunt molestiae neque aperiam unde accusantium consectetur atque
            soluta dolore rerum saepe exercitationem reprehenderit eum pariatur,
            nobis repellendus laudantium distinctio
          </p>
          <p class="text-custom-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae
            deserunt molestiae neque aperiam unde accusantium consectetur atque
            soluta dolore rerum saepe exercitationem reprehenderit eum pariatur,
            nobis repellendus laudantium distinctio
          </p>
          <ul class="custom-flex socials">
            <li>
              <a href="#" class="text-custom-white fs-14"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-custom-white fs-14"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-custom-white fs-14"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-custom-white fs-14"
                ><i class="fab fa-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box mb-md-40">
          <h4 class="text-custom-white fw-600">Quick Links</h4>
          <ul class="cusom links">
            <li><a class="text-custom-white">Home</a></li>
            <li><a class="text-custom-white">Hotels</a></li>
            <li><a class="text-custom-white">Flights</a></li>
            <li><a class="text-custom-white">Cruise</a></li>
            <li><a class="text-custom-white">Blog</a></li>
            <li><a class="text-custom-white">404</a></li>
            <li><a class="text-custom-white">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box mb-sm-40">
          <h4 class="text-custom-white fw-600">Instagram</h4>
          <ul class="custom instagram gallery-grid">
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/img1.jpg" />
              </a>
            </li>
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/img2.jpg" />
              </a>
            </li>
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/img3.jpg" />
              </a>
            </li>
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/img4.jpg" />
              </a>
            </li>
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/img5.jpg" />
              </a>
            </li>
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/img6.jpg" />
              </a>
            </li>
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/img7.jpg" />
              </a>
            </li>
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/img8.jpg" />
              </a>
            </li>
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/img9.jpg" />
              </a>
            </li>
            <li>
              <a class="text-custom-white">
                <img src="../../../assets/images/hotel2.jpg" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
