<footer class="section-padding footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-box mb-md-40">
          <h4 class="text-custom-white fw-600">About Us</h4>
          <p class="text-custom-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae
            deserunt molestiae neque aperiam unde accusantium consectetur atque
            soluta dolore rerum saepe exercitationem reprehenderit eum pariatur,
            nobis repellendus laudantium distinctio
          </p>
          <p class="text-custom-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quae
            deserunt molestiae neque aperiam unde accusantium consectetur atque
            soluta dolore rerum saepe exercitationem reprehenderit eum pariatur,
            nobis repellendus laudantium distinctio
          </p>
          <ul class="custom-flex socials">
            <li>
              <a href="#" class="text-custom-white fs-14"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-custom-white fs-14"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-custom-white fs-14"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-custom-white fs-14"
                ><i class="fab fa-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box mb-md-40"></div>
      </div>
    </div>
  </div>
</footer>
