.footer {
    background-color: #2d3e52;
}

.section-padding {
    padding: 80px 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 25%;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.footer .footer-box h4 {
    font-size: 24px;
}
.text-custom-white {
    color: #fff;
}
.fw-600 {
    font-weight: 600;
}
h4 {
    font-size: 24px;
}
ul.custom-flex {
    display: flex;
    align-items: center;
}
ul.custom-flex {
    flex-wrap: wrap;
}
ul.custom, ul.custom-flex {
    list-style: none;
    padding: 0;
}
ul{
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.footer .footer-box .links li:before {
    background: #fff;
    height: 2px;
    content: "";
    width: 10px;
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
    margin-right: 5px;
}

.footer .footer-box h4:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #fff;
    margin-top: 20px;
}
.footer .footer-box .instagram {
    display: flex;
    flex-wrap: wrap;
}


.footer .footer-box .instagram {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 500px;
}
ul.custom, ul.custom-flex {
    list-style: none;
    padding: 0;
}
ul li a img{
    display: flex;
    width: 100px;
    height: 100px;
}