<app-header (log)="opendailog()"></app-header>
<section class="complete-video-container">
  <div class="video-container" *ngIf="videos">
    <video autoplay muted class="video" (ended)="changebackground()">
      <source src="{{ videos[0].link }}" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
  </div>
  <div class="video-content">
    <h1>The best place to visit</h1>
    <div class="btn-container">
      <button class="btn">View More</button>
    </div>
  </div>
</section>
<app-search></app-search>
<app-aboutus></app-aboutus>
<app-hotels></app-hotels>
<app-flights></app-flights>
<app-category></app-category>
<app-team></app-team>
<app-footer></app-footer>
