<section class="section-padding flights-sec bg-light-white">
  <div class="container">
    <div class="section-header">
      <div class="section-heading">
        <h3 class="text-custom-black">Recommended Flights</h3>
        <div class="section-description">
          <p class="text-light-dark">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum
            voluptatum, odit, quia dolore sint quas animi ut natus accusantium
            numquam quasi. Rerum dolorem earum accusamus commodi similique
            illum. Totam, rerum.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-image-slider
          [images]="flights"
          #nav
          [infinite]="true"
          [autoSlide]="1"
          [imageSize]="{ width: '25%', height: 200, space: 4 }"
          slideImage="1"
          [animationSpeed]="0.1"
        ></ng-image-slider>
      </div>
    </div>
  </div>
</section>
