<section class="section-padding our-work-sec">
  <div class="container">
    <div class="section-header">
      <div class="section-heading">
        <h3 class="text-custom-black">Our Work</h3>
        <div class="section-description">
          <p class="text-light-dark">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Necessitatibus laborum velit voluptates nostrum? Excepturi eaque
            blanditiis, quibusdam nostrum eveniet ad harum, illo qui quas quae
            hic commodi ipsa aut quo.
          </p>
        </div>
      </div>
      <div class="section-btn mb-xl-20">
        <a class="btn-first btn-small"
          ><button class="btn btn-small">View All</button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="work-sec animate-img first-box">
          <a>
            <img
              class="image-fit"
              src=" https://themes.codezion.com/angular/toor/assets/images/tour-block_4.jpg"
            />
            <div class="text-wrapper">
              <h2 class="text-custom-white no-margin fw-600">Flights</h2>
              <p class="text-custom-white no-margin">1150 offers</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="work-sec animate-img first-box">
              <a>
                <img
                  class="image-fit"
                  src="  https://themes.codezion.com/angular/toor/assets/images/tour-block_2.jpg"
                />
                <div class="text-wrapper">
                  <h2 class="text-custom-white no-margin fw-600">Cruises</h2>
                  <p class="text-custom-white no-margin">1100 Location</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="work-sec animate-img first-box">
              <a>
                <img
                  class="image-fit"
                  src="  https://themes.codezion.com/angular/toor/assets/images/tour-block_3.jpg"
                />
                <div class="text-wrapper">
                  <h2 class="text-custom-white no-margin fw-600">Hotel</h2>
                  <p class="text-custom-white no-margin">1250 Location</p>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="work-sec animate-img first-box">
                <a>
                  <img
                    class="image-fit"
                    src=" https://themes.codezion.com/angular/toor/assets/images/tour-block_1.jpg"
                  />
                  <div class="text-wrapper">
                    <h2 class="text-custom-white no-margin fw-600">Tour</h2>
                    <p class="text-custom-white no-margin">1550 Loaction</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
