<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="Hotel">
          <div class="tab-containt">
            <div class="tab-pane fade active show">
              <div class="tab-inner">
                <form>
                  <div class="row">
                    <div class="col-lg-3 col-md-6">
                      <div class="form-group">
                        <mat-label class="label">Your Destination</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder="Your Destination and Hotel Name"
                          class="form-control form-control-custom"
                        />
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <mat-label class="label">Check In</mat-label>
                              <div class="input-group group-form">
                                <input
                                  type="text"
                                  placeholder="mm/dd/yy"
                                  class="form-control-1 form-control-custom"
                                  [matDatepicker]="picker"
                                />
                                <span class="input-group-append">
                                  <mat-datepicker-toggle
                                    matSuffix
                                    [for]="picker"
                                  ></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <mat-label class="label">Check Out</mat-label>
                              <div class="input-group group-form">
                                <input
                                  type="text"
                                  placeholder="mm/dd/yy"
                                  class="form-control-1 form-control-custom"
                                  [matDatepicker]="picker"
                                />
                                <span class="input-group-append">
                                  <mat-datepicker-toggle
                                    matSuffix
                                    [for]="picker"
                                  ></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6">
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <mat-label class="label">Rooms</mat-label>
                              <div class="group-form">
                                <mat-select
                                  class="custom-select form-control form-control-custom"
                                >
                                  <mat-option>01</mat-option>
                                  <mat-option>02</mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>

                          <div class="col-4">
                            <div class="form-group">
                              <mat-label class="label">Adults </mat-label>
                              <div class="group-form">
                                <mat-select
                                  class="custom-select form-control form-control-custom"
                                >
                                  <mat-option>01</mat-option>
                                  <mat-option>02</mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <mat-label class="label">Kids</mat-label>
                              <div class="group-form">
                                <mat-select
                                  class="custom-select form-control form-control-custom"
                                >
                                  <mat-option>01</mat-option>
                                  <mat-option>02</mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-6">
                        <mat-label class="label"></mat-label>
                        <button
                          class="btn-first btn-submit full-width btn-height"
                        >
                          Search Now
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Flights">
          <div class="tab-containt">
            <div class="tab-pane fade active show">
              <div class="tab-inner">
                <form>
                  <div class="row">
                    <div class="col-lg-3 col-md-6">
                      <div class="form-group">
                        <mat-label class="label">Leaving From</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder="city, distirct or specific airpot"
                          class="form-control form-control-custom"
                        />
                      </div>
                      <div class="form-group">
                        <mat-label class="label">Going To</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder="city, distirct or specific airpot"
                          class="form-control form-control-custom"
                        />
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <mat-label class="label">Departing On</mat-label>
                              <div class="input-group group-form">
                                <input
                                  type="text"
                                  placeholder="mm/dd/yy"
                                  class="form-control-1 form-control-custom"
                                  [matDatepicker]="picker"
                                />
                                <span class="input-group-append">
                                  <mat-datepicker-toggle
                                    matSuffix
                                    [for]="picker"
                                  ></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <mat-label class="label"></mat-label>
                              <div class="group-form">
                                <mat-select
                                  class="custom-select form-control form-control-custom"
                                >
                                  <mat-option>Anytime</mat-option>
                                  <mat-option>Moring</mat-option>
                                </mat-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Cruise"></mat-tab>
        <mat-tab label="Car"></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
